div{
    margin-top: 10px;
    position: relative;
}
div.totalDiv{
    width: 600px;
    height: 700px;
    border: 1px solid #000;
    padding: 20px;
}
input.kk{
    width: 300px;
    height: 40px;
    border: 1px solid #000;
}
input.dz{
    width: 100px;
    height: 40px;
    border: 1px solid #000;
}
input.zh{
    margin-top: 15px;
}
select{
    width: 300px;
    height: 40px;
}
p{
    display: inline-block;
}
button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #999;
    position:absolute;
    bottom:20px;
    right:20px;
}
.remarks {
    font-size: 12px;
    margin-bottom: 5px;
    color: #dddddd;
}
.launch{
    display: inline-block;
}
.openingTime{
    display: flex;
}